.custom-container {
    width: 90%;
    margin: auto;
}
.main-brown {
    color: $main-brown;
}
.bg-main-brown {
    background-color: $main-brown;
}
.bg-main-color {
    background-color: $main-color;
}
.main-color {
    color: $main-color;
}
.sec-black {
    color: $sec-black;
}
.pale-brown-bg {
    background-color: $pale-brown;
}
.pale-brown-opacity-bg {
    background-color: $pale-brown-opacity;
}
.dark-muted-color {
    color: $dark-muted;
}
.dark-muted1-color {
    color: $dark-muted1;
}
.dark-muted2-color {
    color: $dark-muted2;
}