.detail-container {
    width: 85%;
    margin: 0 auto;
}
.detail-container1 {
    width: 85%;
    margin: 0 auto;
    margin-top: 150px;
    margin-bottom: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.detail-card {
    background-color: none;
    max-width: 1000px;
    color: $main-color;
    border-radius: 20px;
    padding: 35px;
}
.detail-body {
    font-size: 18px;
}
.feature-title {
    font-size: 18px;
    font-weight: bold;
}

@media(max-width: 769px) {
    .detail-title {
        font-size: 25px;
    }
    .detail-body {
        font-size: 16px;
    }
    .feature-title {
        font-size: 15px;
    }
}
@media(max-width: 724px) {
    .youtube {
        width: 450px;
        height: 255px;
    }
}
@media(max-width: 573px) {
    .detail-card {
        padding: 25px;
    }
    .youtube {
        width: 330px;
        height: 205px;
    }
}
@media(max-width: 426px) {
    .detail-container1 {
        flex-direction: column;
        margin-top: 150px;
        margin-bottom: 40px; 
    }

    .detail-card {
        padding: 20px;
        border-radius: 15px;
        box-shadow: none;
    }

    .carousel-inner {
        max-width: 100%;
        background-color: transparent; 
    }

    .ui-image {
        max-width: 100%;
        height: auto; 
        max-height: 300px;
    }

    .youtube {
        width: 100%;
        height: auto; 
        max-height: 200px;
    }

    .feature-title {
        font-size: 16px;
    }

    .tech {
        margin: 0; 
    }
}

@media(max-width: 407px) {
    .detail-card {
        padding: 25px;
    }
    .youtube {
        width: 250px;
        height: 150px;
    }
}