body {
    font-family: $primary-font-family;
}
.seeMore {
    display: none;
}
.home-body.fullBody {
    display: none;
}
.responsive-div {
    display: none;
}
.main-div {
    display: flex;
    align-items: start;
    justify-content: space-between;
}
.first-div {
    width: 50%;
}
.first-div-container {
    width: 40%;
    margin: 0 auto;
}
.home-content {
    margin-top: 150px;
    margin-bottom: 70px;
}
.home-title {
    color: $main-color;
    font-size: 32px;
}
.home-title .home-title-span {
    color: $main-brown;
}
.home-body {
    max-width: 100%;
    margin-top: 19px;
    color: $main-color;
    font-size: 21px;
    line-height: 185%;
    font-weight: 400;
    text-align: justify;
}
.scroll-down {
    text-decoration: none;
    display: flex;
    gap: 5px;
    align-items: center;
    color: $main-brown;
    transition: ease-in .1s;
}
.scroll-down:hover {
    color: $main-color;
}
.scroll-down span {
    font-size: 18px;
}
.some-prj {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $pale-brown;
    border-radius: 10px;
    padding: 10px;
    padding-left: 34px;
    padding-right: 34px;
    height: 85px;
}
.home-content2-title {
    color: $main-color;
    margin-bottom: 34px;
}
.some-prj-content1, .some-prj-content2 {
    display: flex;
    align-items: end;
}
.some-prj-content2 {
    gap: 270px;
}
.some-prj-content1 {
    color: #444;
    gap: 34px;
}
.sp-no {
    font-size: 25px;
}
.sp-title {
    font-size: 23px;
}

.blog-table {
    width: 100%;
    height: 85px;
    max-width: 800px;
    border-collapse: collapse;
    background-color: $pale-brown;
    border-radius: 10px;
    box-shadow: 1px 4px 3px #00000032;
    margin-bottom: 20px;
}

.blog-table td {
    vertical-align: middle;
}

.blog-index {
    font-size: 25px;
    color: $sec-black;
    width: 30px;
    padding-right: 34px;
    padding-left: 34px;
}

.blog-title {
    font-size: 23px;
    color: #3d3635;
    text-align: left;
    min-width: 150px;
}

.blog-tag-container {
    text-align: start;
    min-width: 150px;
}

.blog-tag {
    background-color: #fff;
    color: #3d3635;
    padding: 8px 22px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: normal;
    color: $main-brown;
    box-shadow: 1px 4px 3px #00000032;
}

.blog-arrow {
    font-size: 20px;
    color: #3d3635;
}
.blog-icon {
    transition: .3s ease-in;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: $main-brown;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 1px 4px 3px #00000032;
}
.blog-icon:hover {
    box-shadow: 2px 5px 6px #13131344;
}

.sec-div {
    width: 50%;
    height: 100vh;
    position: relative;
}
.home-img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    border-radius: 28px 0 0 28px;
}
.lucky, .essence {
    position: absolute;
}
.essence {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.lucky {
    top: 40px;
    left: 40px;
}
.lucky, .mail, .telegram, .linkedin, .github {
    background-color: $main-brown;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: white;
    border: none;
    box-shadow: 1px 4px 3px #00000032;
    transition: .3s linear;
}
.lucky:hover, .mail:hover, .telegram:hover, .linkedin:hover, .github:hover, .essence:hover {
    animation: rotate 0.7s ease-in-out both;
}
@keyframes rotate {
    0% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }
    25% {
        transform: rotate(4deg) translate3d(0, 0, 0);
    }
    50% {
        transform: rotate(-4deg) translate3d(0, 0, 0);
    }
    75% {
        transform: rotate(1deg) translate3d(0, 0, 0);
    }
    100% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }
}
.essence {
    top: 40px;
    right: 40px;
    height: 55px;
    width: 160px;
    border-radius: 100px;
    font-size: 20px;
    border: none;
    color: white;
    background-color: $main-brown;
    box-shadow: 1px 4px 3px #00000032;
    transition: .3s linear;
}
.cm-gp {
    position: absolute;
    bottom: 40px;
    left: 40px;
}
.search-gp {
    position: absolute;
    bottom: 40px;
    right: 40px;
}
.cm-gp, .search-gp {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    width: 294px;
    height: 65px;
    border-radius: 100px;
    padding-left: 10px;
}
.cm-text {
    font-size: 18px;
    color: $main-color;
}
@media(max-width: 1440px) {
    .home-content {
        // margin-top: 90px;
        margin-top: 120px;
        margin-bottom: 100px;
    }
    .home-title {
        color: $main-color;
        font-size: 32px;
    }
    .home-content2-title {
        margin-bottom: 25px;
    }
    .home-body {
        max-width: 100%;
        margin-top: 18px;
        font-size: 20px;
    }
    .blog-table {
        height: 65px;
        border-radius: 10px;
        margin-bottom: 10px;
    }
    .blog-index {
        font-size: 22px;
        width: 30px;
    }
    .blog-title {
        font-size: 21px;
        text-align: left;
        min-width: 150px;
    }
    
    .blog-tag-container {
        min-width: 150px;
    }
    
    .blog-tag {
        font-size: 14px;
    }
    
    .blog-arrow {
        font-size: 20px;
        min-width: 50px;
    }
    .blog-icon {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
}
@media(max-width: 1385px) {
    .home-title {
        color: $main-color;
        font-size: 32px;
    }
    .home-content2-title {
        margin-bottom: 25px;
    }
    .home-body {
        max-width: 100%;
        margin-top: 18px;
        font-size: 20px;
        line-height: 185%;
    }
    .blog-table {
        width: 100%;
        height: 70px;
    }
    .blog-index {
        font-size: 22px;
    }
    
    .blog-title {
        font-size: 21px;
        min-width: 150px;
    }
    
    .blog-tag-container {
        text-align: start;
        min-width: 150px;
    }
    
    .blog-tag {
        font-size: 14px;
    }
    
    .blog-arrow {
        font-size: 20px;
    }
    .sec-div {
        width: 50%;
    }
}
@media(max-width: 1358px) {
    .home-content {
        margin-top: 120px;
        margin-bottom: 80px;
    }
    .home-title {
        color: $main-color;
        font-size: 32px;
    }
    .home-content2-title {
        margin-bottom: 25px;
    }
    .home-body {
        max-width: 100%;
        margin-top: 18px;
        font-size: 20px;
        line-height: 185%;
    }
    .blog-table {
        height: 60px;
        border-radius: 10px;
        margin-bottom: 10px;
    }
    .blog-index {
        font-size: 18px;
    }
    .blog-title {
        font-size: 18px;
        color: #3d3635;
        text-align: left;
        min-width: 120px;
    }
    .blog-arrow {
        font-size: 18px;
    }
    .cm-gp, .search-gp {
        background: none;
    }
    .search-gp {
        justify-content: end;
    }
    .cm-text {
        display: none;
    }    
}
@media(max-width: 1253px) {
    .home-content {
        margin-top: 120px;
        margin-bottom: 30px;
    }
}
@media(max-width: 1210px) {
    .blog-table {
        height: 60px;
        margin-bottom: 13px;
    }
    .blog-index {
        font-size: 18px;
        width: 30px;
    }
    .blog-title {
        font-size: 18px;
        min-width: 120px;
    }
    .blog-tag-container {
        text-align: start;
        min-width: 150px;
    }
    .blog-tag {
        font-size: 14px;
    }
    .blog-arrow {
        font-size: 18px;
        min-width: 50px;
    }
    .blog-icon {
        border: none;
        width: 35px;
        height: 35px;
        border-radius: 50%;
    }
}
@media(max-width: 1206px) {
    .blog-table {
        height: 60px;
        margin-bottom: 10px;
    }
    .blog-index {
        font-size: 18px;
        width: 30px;
    }
    .blog-title {
        font-size: 18px;
        min-width: 120px;
    }
    .blog-tag-container {
        text-align: start;
        min-width: 150px;
    }
    .blog-tag {
        font-size: 14px;
    }
    .blog-arrow {
        font-size: 18px;
        min-width: 50px;
    }
    .blog-icon {
        border: none;
        width: 35px;
        height: 35px;
        border-radius: 50%;
    }
    .first-div {
        width: 45%;
    }
    .first-div-container {
        width: 36%;
        margin: 0 auto;
    }
    .home-title {
        color: $main-color;
        font-size: 28px;
    }
    .home-content2-title {
        margin-bottom: 23px;
    }
    .home-body {
        max-width: 100%;
        margin-top: 18px;
        font-size: 20px;
        line-height: 185%;
    }
    .sec-div {
        width: 55%;
    }
    .cm-gp, .search-gp {
        background: none;
    }
    .search-gp {
        justify-content: end;
    }
    .cm-text {
        display: none;
    }    
}
@media(max-width: 1170px) {
    .home-content2 {
        display: none;
    }
}
@media(max-width: 769px) {
    .home-content {
        margin-top: 125px;
        margin-bottom: 0px;
    }
}
@media(max-width: 773px) {
    .home-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #fullBody {
        display: block;
    }
    #shortBody, #shortBody2 {
        display: none;
    }
    #seeMore {
        display: none;
    }
    .home-title, .home-body {
        text-align: center;
        max-width: 550px;
    }
    .home-body {
        font-size: 17px;
    }
    .first-div {
        width: 85%;
    }
    .responsive-div {
        display: inline-flex;
        margin-bottom: 30px;
    }
    .home-img-responsive {
        width: 300px;
        height: 300px;
        object-fit: cover;
        display: inline-block;
        border-radius: 50% 50% 0 0;
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    }
    .home-img-responsive {
        width: 300px;
        height: 300px;
        object-fit: cover;
        display: inline-block;
        border-radius: 50% 50% 0 0; 
        background: linear-gradient(white, white), 
                    linear-gradient(45deg, #b1623b, #e09764);
        background-origin: border-box;
        background-clip: content-box, border-box;
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
        animation: shakeBorder 4.5s infinite ease-in-out;
    } 
    .sec-div {
        display: none;
    }
}
@media(max-width: 425px) {
    .main-div {
        height: 100vh;
    }
    #fullBody {
        display: none;
    }
    #shortBody {
        display: block;
    }
    #seeMore {
        display: inline;
    }
}
@media(max-width: 320px) {
    .home-img-responsive {
        width: 250px;
        height: 260px;
    }
}

