.active-category {
    font-weight: bold;
}
.prjs {
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 130px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}
.cat-div {
    display: flex;
    gap: 65px;
}
.cat-title {
    color: $main-color;
    font-size: 25px;
    text-decoration: none;
}

.prj-body {
    font-size: 18px;
}
.prj-seeMore {
    font-size: 16px;
}
@media(max-width: 992px) {
    .prjs {
        height: auto;
        gap: 80px;
        padding: 50px;
    }
}
@media(max-width: 718px) {
    .container {
        max-width: 350px;
    }
    .cat-div {
        display: flex;
        gap: 20px;
    }
}
@media(max-width: 711px) {
    .prj {
        align-items: center;
    }
}
@media(max-width: 426px) {
    .prj-body {
        display: none;
    }
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .prj {
        min-width: 265px;
    }
    .cat-div {
        gap: 13px;
    }
    .prj-title {
        font-size: 10px;
    }
    .prj-seeMore {
        font-size: 14px;
    }
    // .prj {
    //     max-width: 260px;
    // }
}
