.active-category {
    font-weight: bold;
}
.prjs {
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 130px;
    align-items: center;
    justify-content: center;
}
.cat-div {
    display: flex;
    gap: 55px;
}
.cat-title {
    color: $main-color;
    font-size: 25px;
    text-decoration: none;
}
@media(max-width: 992px) {
    .prjs {
        height: auto;
        gap: 80px;
        padding: 50px;
    }
}
@media(max-width: 718px) {
    .container {
        max-width: 350px;
    }
    .cat-div {
        display: flex;
        gap: 20px;
    }
}
@media(max-width: 711px) {
    .prj {
        align-items: center;
    }
}
@media(max-width: 376px) {
    .prj-body {
        display: none;
    }
}
